{% extends "bootstrap/base.html" %}
{% block title %} Headlines {% endblock %}
{% block content %}
    <div class="container">
        <div class="page-header">
	        <h1>Headlines</h1>
	        <h2>Currency</h2>
                1 {{currency_from}} = {{currency_to}} {{rate}}
	        <h2>Current weather</h2>
	        <form>
                <input type="text" name="city" placeholder="search" />
                <input type="submit" value="Submit" />
            </form>
	        <p>City: <b>{{ weather.city }}, {{ weather.country }}</b></p>
	        <p>{{ weather.description }} | {{ weather.temperature }}&#8451;</p>
	        <p> Min. {{ weather.temp_min }}&#8451; | Max. {{ weather.temp_max }}&#8451;
	        <h2>Headlines</h2>
	        <form>
                <input type="text" name="publication" placeholder="search" />
                <input type="submit" value="Submit" />
            </form>
	        {% for article in articles %}
	        <b><a href="{{ article.link }}">{{ article.title }}</a></b><br />
	        <i>{{ article.published }}</i><br />
	        <p>{{ article.summary }}</p>
	        <hr />
        {% endfor %}
        </div>
    </div>
{% endblock %}